<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="NSEntities" connectionString="metadata=res://*/NSModel.csdl|res://*/NSModel.ssdl|res://*/NSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NS;user id=sa;password=abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>